<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-coche-heading" data-cy="CocheCreateUpdateHeading" jhiTranslate="testDtoApp.coche.home.createOrEditLabel">
        Create or edit a Coche
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testDtoApp.coche.marca" for="field_marca">Marca</label>
          <input type="text" class="form-control" name="marca" id="field_marca" data-cy="marca" formControlName="marca" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testDtoApp.coche.modelo" for="field_modelo">Modelo</label>
          <input type="text" class="form-control" name="modelo" id="field_modelo" data-cy="modelo" formControlName="modelo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testDtoApp.coche.color" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testDtoApp.coche.numeroSerie" for="field_numeroSerie">Numero Serie</label>
          <input
            type="text"
            class="form-control"
            name="numeroSerie"
            id="field_numeroSerie"
            data-cy="numeroSerie"
            formControlName="numeroSerie"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testDtoApp.coche.precio" for="field_precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testDtoApp.coche.exposicion" for="field_exposicion">Exposicion</label>
          <input
            type="checkbox"
            class="form-check"
            name="exposicion"
            id="field_exposicion"
            data-cy="exposicion"
            formControlName="exposicion"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
